 div.form { width: 300px; }
 div.wide_form { width: 600px; }
 hint { font-size: 14px; color: #666; display: none; }
 #toggle_hints { float: right; margin: 10px; padding: 8px; color: #aaa; background-color: #fff; border: 1px solid #ccc; border-radius: 18px; height: 35px; width: 35px; }
 #toggle_hints:hover { cursor: pointer; }

 legend { border-bottom: 1px solid #ccc; padding: 5px; }
 .field_group { margin: 10px; }
 input[type='url'], input[type='text'], input[type='password'], textarea {
   margin-bottom: 1px;
   display: block;
   width: 240px;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
 input[type='url']:focus, input[type='text']:focus, input[type='password']:focus, textarea:focus {
   border-color: #66afe9;
   outline: 0;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
 }
 input[type='url'], input[type='text'], input[type='password'] { height: 24px; }
 input.wide_field {width: 540px; }
 /*input, select { margin-left: 10px }*/
 textarea.wide_field { width: 540px; height: 200px; }
 input.submit { background-color: #337ab7; color: #fff; padding: 6px 12px; font-size: 16px; border: 1px solid #2e6da4; border-radius: 4px; }
 input.submit:hover { background-color: #286090; border-color: #204d74; }
 a.cancel { background-color: #f0ad4e; color: #fff; text-decoration: none; padding: 7px 12px; font-size: 16px; border: 1px solid #eea236; border-radius: 4px; }
 a.cancel:hover { background-color: #ec971f; border-color: #d58512; }

 .error h4 { color: #966; padding: 10px; }
 .success h4 { color: #696; padding: 10px; }

 .field_with_errors input { box-shadow: 0px 0px 5px #966; }
 div.field_with_errors { display: inline-block; }
